In [1]:
import pandas as pd
import pandas_profiling as pp
import numpy as np
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"
import warnings
warnings.filterwarnings('ignore')

In [2]:
df1 = pd.read_csv('Tableau-CitiBike/TripData_2017_Q1.csv')
df2 = pd.read_csv('Tableau-CitiBike/TripData_2017_Q2.csv')
df3 = pd.read_csv('Tableau-CitiBike/TripData_2017_Q3.csv')
df4 = pd.read_csv('Tableau-CitiBike/TripData_2017_Q4.csv')

In [3]:
# merge tables - join three dataframes along rows
df_merge = pd.concat([df1, df2, df3, df4])

In [4]:
# 14.7 million observations!
df_merge.shape

(14718438, 21)

In [7]:
df_merge.head(2)
df_merge.tail(2)
df_merge.shape

,Trip Duration,Trip Duration(Minutes),Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,...,End Station Longitude,Distance(Miles),Bike ID,User Type,Birth Year,Age,Gender,Sex,Start Coordinates,End Coordinates
0,680,11.333333,2017-01-01 00:00:21,2017-01-01 00:11:41,3226,W 82 St & Central Park West,40.782750,-73.971370,3165,Central Park West & W 72 St,...,-73.976206,0.542899,25542,Subscriber,1965.0,52,2,female,"40.78275 , -73.97137","40.7757937668 , -73.9762057364"
1,1282,21.366667,2017-01-01 00:00:45,2017-01-01 00:22:08,3263,Cooper Square & E 7 St,40.729236,-73.990868,498,Broadway & W 32 St,...,-73.988084,1.340572,21136,Subscriber,1987.0,30,2,female,"40.7292364991 , -73.990868032","40.74854862 , -73.98808416"

,Trip Duration,Trip Duration(Minutes),Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,...,End Station Longitude,Distance(Miles),Bike ID,User Type,Birth Year,Age,Gender,Sex,Start Coordinates,End Coordinates
3793823,1659,27.650000,2017-12-31 23:57:16,2018-01-01 00:24:56,495,W 47 St & 10 Ave,40.762699,-73.993012,3163,Central Park West & W 68 St,...,-73.977825,1.086602,33328,Subscriber,1988.0,29,2,female,"40.76269882 , -73.99301222","40.7734066 , -73.97782542"
3793824,1279,21.316667,2017-12-31 23:58:56,2018-01-01 00:20:16,3135,E 75 St & 3 Ave,40.771129,-73.957723,3143,5 Ave & E 78 St,...,-73.964274,0.496441,31023,Subscriber,1968.0,49,2,female,"40.77112927 , -73.95772297","40.7763214218 , -73.9642739296"

(14718438, 21)

In [9]:
df_merge.reset_index(drop=True, inplace=True)
df_merge.tail(2)
df_merge.shape

,Trip Duration,Trip Duration(Minutes),Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,...,End Station Longitude,Distance(Miles),Bike ID,User Type,Birth Year,Age,Gender,Sex,Start Coordinates,End Coordinates
14718436,1659,27.650000,2017-12-31 23:57:16,2018-01-01 00:24:56,495,W 47 St & 10 Ave,40.762699,-73.993012,3163,Central Park West & W 68 St,...,-73.977825,1.086602,33328,Subscriber,1988.0,29,2,female,"40.76269882 , -73.99301222","40.7734066 , -73.97782542"
14718437,1279,21.316667,2017-12-31 23:58:56,2018-01-01 00:20:16,3135,E 75 St & 3 Ave,40.771129,-73.957723,3143,5 Ave & E 78 St,...,-73.964274,0.496441,31023,Subscriber,1968.0,49,2,female,"40.77112927 , -73.95772297","40.7763214218 , -73.9642739296"

(14718438, 21)

In [10]:
df_merge.isnull().tail()

,Trip Duration,Trip Duration(Minutes),Start Time,Stop Time,Start Station ID,Start Station Name,Start Station Latitude,Start Station Longitude,End Station ID,End Station Name,...,End Station Longitude,Distance(Miles),Bike ID,User Type,Birth Year,Age,Gender,Sex,Start Coordinates,End Coordinates
14718433,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
14718434,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
14718435,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
14718436,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
14718437,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

### We have no missing values in our columns

In [11]:
df_merge.isnull().sum()

Trip Duration              0
Trip Duration(Minutes)     0
Start Time                 0
Stop Time                  0
Start Station ID           0
Start Station Name         0
Start Station Latitude     0
Start Station Longitude    0
End Station ID             0
End Station Name           0
End Station Latitude       0
End Station Longitude      0
Distance(Miles)            0
Bike ID                    0
User Type                  0
Birth Year                 0
Age                        0
Gender                     0
Sex                        0
Start Coordinates          0
End Coordinates            0
dtype: int64

In [12]:
df_merge.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14718438 entries, 0 to 14718437
Data columns (total 21 columns):
Trip Duration              int64
Trip Duration(Minutes)     float64
Start Time                 object
Stop Time                  object
Start Station ID           int64
Start Station Name         object
Start Station Latitude     float64
Start Station Longitude    float64
End Station ID             int64
End Station Name           object
End Station Latitude       float64
End Station Longitude      float64
Distance(Miles)            float64
Bike ID                    int64
User Type                  object
Birth Year                 float64
Age                        int64
Gender                     int64
Sex                        object
Start Coordinates          object
End Coordinates            object
dtypes: float64(7), int64(6), object(8)
memory usage: 2.3+ GB

In [13]:
# save df to csv
df_merge.to_csv('Tableau-CitiBike/TripData_2017_MERGED.csv', index=False)

# START HOUR Function

In [ ]:
# startime
def get_start_hour(df_merge):
    df_merge['Start Time'] = pd.to_datetime(df_merge['Start Time'])
    df_merge1 = df_merge['Start Time'].dt.hour

In [ ]:
df_merge['Start Time'] = pd.to_datetime(df_merge['Start Time'])

In [ ]:
df_merge.tail()
df_merge.shape

In [ ]:
df_merge1 = df_merge['Start Time'].dt.hour

In [ ]:
df_merge1