In [2]:
# import dependencies
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')
pd.set_option('display.height', 1000)
pd.set_option('display.max_rows', 100)
pd.set_option('display.max_columns', 100)
pd.set_option('display.width', 1000)

# display multiple print results on one line
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

# expands .describe with more info about the data set
import pandas_profiling

# sqlalchemy dependencies
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine
from sqlalchemy import func

from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String, Float, Text, Numeric

import os

height has been deprecated.

In [3]:
# create engine
engine = create_engine("sqlite:///bbb.sqlite")
conn = engine.connect()

In [1]:
# deletes engine - run when you have to restart
# !rm bbb.sqlite

In [4]:
Base = declarative_base()

In [5]:
# create Samples_Metadata class

class Samples_Metadata(Base):
    __tablename__ = 'samples_metadata'
    
    SAMPLEID = Column(Integer, primary_key=True)
    EVENT = Column(Text)
    ETHNICITY = Column(Text)
    GENDER = Column(Text)
    AGE = Column(Integer)
    WFREQ = Column(Integer)
    BBTYPE = Column(Text)
    LOCATION = Column(Text)
    COUNTRY012 = Column(Text)
    ZIP012 = Column(Integer)
    COUNTRY1319 = Column(Text)
    ZIP1319 = Column(Integer)
    DOG = Column(Text)
    CAT = Column(Text)
    IMPSURFACE013 = Column(Integer)
    NPP013 = Column(Float)
    MMAXTEMP013 = Column(Float)
    PFC013 = Column(Float)
    IMPSURFACE1319 = Column(Integer)
    NPP1319 = Column(Float)
    MMAXTEMP1319 = Column(Float)
    PFC1319 = Column(Float)
    
    def __repr__(self):
        return f"id={self.ID}"

In [6]:
# create OTU class
class OTU(Base):
    __tablename__ = 'otu'
    
    otu_id = Column(Integer, primary_key=True)
    lowest_taxonomic_unit_found = Column(Text)
    
    def __repr__(self):
        return f"id={self.otu_id}, lowest_taxonomic_unit_found={self.lowest_taxonomic_unit_found}"

In [7]:
# create Samples class
class Samples(Base):
    __tablename__ = 'samples'

    otu_id = Column(Integer, primary_key=True)
    BB_940 = Column(Integer)
    BB_941 = Column(Integer)
    BB_943 = Column(Integer)
    BB_944 = Column(Integer)
    BB_945 = Column(Integer)
    BB_946 = Column(Integer)
    BB_947 = Column(Integer)
    BB_948 = Column(Integer)
    BB_949 = Column(Integer)
    BB_950 = Column(Integer)
    BB_952 = Column(Integer)
    BB_953 = Column(Integer)
    BB_954 = Column(Integer)
    BB_955 = Column(Integer)
    BB_956 = Column(Integer)
    BB_958 = Column(Integer)
    BB_959 = Column(Integer)
    BB_960 = Column(Integer)
    BB_961 = Column(Integer)
    BB_962 = Column(Integer)
    BB_963 = Column(Integer)
    BB_964 = Column(Integer)
    BB_966 = Column(Integer)
    BB_967 = Column(Integer)
    BB_968 = Column(Integer)
    BB_969 = Column(Integer)
    BB_970 = Column(Integer)
    BB_971 = Column(Integer)
    BB_972 = Column(Integer)
    BB_973 = Column(Integer)
    BB_974 = Column(Integer)
    BB_975 = Column(Integer)
    BB_978 = Column(Integer)
    BB_1233 = Column(Integer)
    BB_1234 = Column(Integer)
    BB_1235 = Column(Integer)
    BB_1236 = Column(Integer)
    BB_1237 = Column(Integer)
    BB_1238 = Column(Integer)
    BB_1242 = Column(Integer)
    BB_1243 = Column(Integer)
    BB_1246 = Column(Integer)
    BB_1253 = Column(Integer)
    BB_1254 = Column(Integer)
    BB_1258 = Column(Integer)
    BB_1259 = Column(Integer)
    BB_1260 = Column(Integer)
    BB_1264 = Column(Integer)
    BB_1265 = Column(Integer)
    BB_1273 = Column(Integer)
    BB_1275 = Column(Integer)
    BB_1276 = Column(Integer)
    BB_1277 = Column(Integer)
    BB_1278 = Column(Integer)
    BB_1279 = Column(Integer)
    BB_1280 = Column(Integer)
    BB_1281 = Column(Integer)
    BB_1282 = Column(Integer)
    BB_1283 = Column(Integer)
    BB_1284 = Column(Integer)
    BB_1285 = Column(Integer)
    BB_1286 = Column(Integer)
    BB_1287 = Column(Integer)
    BB_1288 = Column(Integer)
    BB_1289 = Column(Integer)
    BB_1290 = Column(Integer)
    BB_1291 = Column(Integer)
    BB_1292 = Column(Integer)
    BB_1293 = Column(Integer)
    BB_1294 = Column(Integer)
    BB_1295 = Column(Integer)
    BB_1296 = Column(Integer)
    BB_1297 = Column(Integer)
    BB_1298 = Column(Integer)
    BB_1308 = Column(Integer)
    BB_1309 = Column(Integer)
    BB_1310 = Column(Integer)
    BB_1374 = Column(Integer)
    BB_1415 = Column(Integer)
    BB_1439 = Column(Integer)
    BB_1441 = Column(Integer)
    BB_1443 = Column(Integer)
    BB_1486 = Column(Integer)
    BB_1487 = Column(Integer)
    BB_1489 = Column(Integer)
    BB_1490 = Column(Integer)
    BB_1491 = Column(Integer)
    BB_1494 = Column(Integer)
    BB_1495 = Column(Integer)
    BB_1497 = Column(Integer)
    BB_1499 = Column(Integer)
    BB_1500 = Column(Integer)
    BB_1501 = Column(Integer)
    BB_1502 = Column(Integer)
    BB_1503 = Column(Integer)
    BB_1504 = Column(Integer)
    BB_1505 = Column(Integer)
    BB_1506 = Column(Integer)
    BB_1507 = Column(Integer)
    BB_1508 = Column(Integer)
    BB_1510 = Column(Integer)
    BB_1511 = Column(Integer)
    BB_1512 = Column(Integer)
    BB_1513 = Column(Integer)
    BB_1514 = Column(Integer)
    BB_1515 = Column(Integer)
    BB_1516 = Column(Integer)
    BB_1517 = Column(Integer)
    BB_1518 = Column(Integer)
    BB_1519 = Column(Integer)
    BB_1521 = Column(Integer)
    BB_1524 = Column(Integer)
    BB_1526 = Column(Integer)
    BB_1527 = Column(Integer)
    BB_1530 = Column(Integer)
    BB_1531 = Column(Integer)
    BB_1532 = Column(Integer)
    BB_1533 = Column(Integer)
    BB_1534 = Column(Integer)
    BB_1535 = Column(Integer)
    BB_1536 = Column(Integer)
    BB_1537 = Column(Integer)
    BB_1539 = Column(Integer)
    BB_1540 = Column(Integer)
    BB_1541 = Column(Integer)
    BB_1542 = Column(Integer)
    BB_1543 = Column(Integer)
    BB_1544 = Column(Integer)
    BB_1545 = Column(Integer)
    BB_1546 = Column(Integer)
    BB_1547 = Column(Integer)
    BB_1548 = Column(Integer)
    BB_1549 = Column(Integer)
    BB_1550 = Column(Integer)
    BB_1551 = Column(Integer)
    BB_1552 = Column(Integer)
    BB_1553 = Column(Integer)
    BB_1554 = Column(Integer)
    BB_1555 = Column(Integer)
    BB_1556 = Column(Integer)
    BB_1557 = Column(Integer)
    BB_1558 = Column(Integer)
    BB_1561 = Column(Integer)
    BB_1562 = Column(Integer)
    BB_1563 = Column(Integer)
    BB_1564 = Column(Integer)
    BB_1572 = Column(Integer)
    BB_1573 = Column(Integer)
    BB_1574 = Column(Integer)
    BB_1576 = Column(Integer)
    BB_1577 = Column(Integer)
    BB_1581 = Column(Integer)
    BB_1601 = Column(Integer)
    
    def __repr__(self):
        return f"id={self.otu_id}"

In [8]:
# create a "metadata" layer that abstracts our SQL Database
Base.metadata.create_all(engine)
engine.table_names()

['otu', 'samples', 'samples_metadata']

In [9]:
# create objects for the following csv's
metadatacsv = 'belly_button_biodiversity_metadata.csv'
otucsv = 'belly_button_biodiversity_otu_id.csv'
samplescsv = 'belly_button_biodiversity_samples.csv'

In [11]:
# read metadatacsv into pandas
meta_df = pd.read_csv(metadatacsv, dtype=object)
meta_df.head()

  SAMPLEID                      EVENT              ETHNICITY GENDER AGE WFREQ BBTYPE         LOCATION COUNTRY012 ZIP012 COUNTRY1319 ZIP1319  DOG  CAT IMPSURFACE013       NPP013 MMAXTEMP013 PFC013 IMPSURFACE1319 NPP1319 MMAXTEMP1319 PFC1319
0      940  BellyButtonsScienceOnline              Caucasian      F  24     2      I      Beaufort/NC        usa  22306         usa   22306   no   no          8852  37.17222214        54.5    NaN              1     NaN  33.99000168    25.5
1      941                        NaN  Caucasian/Midleastern      F  34     1      I       Chicago/IL        NaN    NaN         NaN     NaN  NaN  NaN           NaN          NaN         NaN    NaN            NaN     NaN          NaN     NaN
2      943  BellyButtonsScienceOnline              Caucasian      F  49     1      I         Omaha/NE        NaN    NaN         NaN     NaN  NaN  NaN           NaN          NaN         NaN    NaN            NaN     NaN          NaN     NaN
3      944  BellyButtonsScienceOnline               European      M  44     1      I      NewHaven/CT        usa   7079         usa    8822   no  yes           NaN  35.81666565          16    NaN              0    6567  32.40333176    28.5
4      945  BellyButtonsScienceOnline              Caucasian      F  48     1      I  Philidelphia/PA        usa  84404         usa   96025   no   no           NaN  37.78333282           4    NaN              0    5613  33.63444519      24